<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <section class="choices">
        <a href="" class="card">
            <img src="/images/student.png" alt="Student">
            <h3>Estudiantes</h3>
            <p>Ingreso para estudiantes</p>
        </a>
        <a href="" class="card">
            <img src="/images/teacher.jpg" alt="Teacher">
            <h3>Maestros</h3>
            <p>Ingreso para docentes</p>
        </a>
        <a href="" class="card">
            <img src="/images/admin.jpg" alt="Admin">
            <h3>Administrativos</h3>
            <p>Ingreso para Afministrativos</p>
        </a>
    </section>
</body>

</html>