<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container">
        <h2 class="textLogin">LOGIN</h2>
        <div class="record">
            <label for="inputRecord">N° de Registro</label>
            <input id="inputRecord" type="text">
        </div>
        <div class="password">
            <label for="inputPassword">Contraseña</label>
            <input id="inputPassword" type="text">
        </div>

        <button class="loginButton">Iniciar Sesion</button>
    </div>
</body>

</html>